button {
  margin-top: 3rem;
}

html {
    height: 100%;
}

body {
  background: 
    /* top, transparent red, faked with gradient */ 
/*  linear-gradient(
    rgba(45,23,44, 0.85) 0%, 
    rgba(128,23,56, 0.85) 100%
  ),*/
  /* bottom, image */
  url("../img/moshed4.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.background-gradient {
  background: 
    /* top, transparent red, faked with gradient */ 
  linear-gradient(
    rgba(45,23,44, 0.75) 0%, 
    rgba(128,23,56, 0.75) 100%
  ),
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.card-row {
  margin-top: 4rem;
}

.btn-primary {
 /*   background-color: green;*/
}

h1 {
  color: #ffffff;
  margin-top: 2rem;
  font-family: monospace;
  font-size: 5rem;
  font-weight:  500;
}

h2 {
  color: #fff;
  font-family: "inconsolata",monospace;
  font-weight: 500;
  font-size: 1rem;
}

p.instructions {
  color: white;
  margin-top: 4rem;
}

.card {
	height: 22rem;
	border-color: transparent;
	border-radius: 0;
	-webkit-box-shadow: 10px 10px 46px -8px rgba(0,0,0,0.28);
	-moz-box-shadow: 10px 10px 46px -8px rgba(0,0,0,0.28);
	box-shadow: 10px 10px 46px -8px rgba(0,0,0,0.28);
}

.card:before {
	content: "";
	border-bottom: 60px solid white;
  border-left: 0px solid white;
  border-right: 100px solid transparent;
  height: 0;
  width: inherit;
  position: relative;
  top: -30px;
  left: -1px;
}

.btn-primary {
	background-color: #2D142C;
	border-color: #2D142C;
	border-radius: 0px;
}

.btn-primary:hover {
	background-color: #801336;
	border-color: #801336;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #801336;
	border-color: #801336;
}

.btn-primary:focus {
	background-color: #801336;
	border-color: #801336;
}

p.card-text {
	padding-top: 1rem;
}

#shuffle-button {
	margin-top: 6rem;
}

.card-img-top {
  height: 70px;
  width: 117px;
  position: absolute;
}

.card-body {
  margin-top: 1rem;
}